.nav-container {
  margin: auto;
}
.margin-align {
  border: 1px black solid;
}
.mr-folder-icon {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -4px;
}
.mrl-section {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: -4px;
}
.mrl-button {
  margin-left: 0rem !important;
}
.table {
  min-width: 700px;
}
.table-font {
  border: 1px red solid;
  background-color: blue;
  color: white;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.text-field {
  width: 150px;
  display: inline;
  color: red;
}
